.Counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: auto;
}

.Button{
    padding: 8px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 0 #59747e;
    background-color:#0096c7;
    transition: all 0.2;
    font-size: 12px;
}
.Button a{
    color: white;    
    text-transform: uppercase;
    text-decoration: none;
}

.Button:hover{
    transform: translateY(1px);
    box-shadow: 0 2px 0 #0096c7;
}
.Number {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    order: 1;
}

.Controls {
    display: flex;
    justify-content: center;
    align-items: center;
}