.CartWidget {
    width: auto;
    padding: 12px;
    font-size: 10px;
    background: #0096c7;
    color: white;
    border-radius: 8px;
    display: flex;
    order: 1;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    font-size: medium;
}

.CartImg {
    margin-right: 10px;
}