.ButtonConfirm {
    width: auto;
    padding: 12px;
    margin: 8px;
    font-size: 22px;
    background: #02a57c;
    border-radius: 8px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
 }
 .checkout{
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 .titulo{
    color: #0b6da5;
    margin-top: 10px;
    
 }