.Button {
    width: auto;
    padding: 12px;
    margin: 8px;
    font-size: 12px;
    background: #0096c7;
    border-radius: 8px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
 }